In [ ]:
import pandas as pd
import numpy as np

In [13]:
raw = pd.read_csv('data/boxscore.csv')

In [16]:
players = ['Stephen Curry', 'Shai Gilgeous-Alexander', 'Giannis Antetokounmpo', 'LeBron James', 'Rudy Gobert',\
'Shaquille O\'Neal', 'DeAndre Jordan', 'Ben Wallace']
df = raw[raw['playerName'].isin(players)]

In [24]:
for col in df.columns:
    print('Did Not Play' in df[col].unique(), col)

False game_id
False teamName
False playerName
True MP
True FG
True FGA
True 3P
True 3PA
True FT
True FTA
True ORB
True DRB
True TRB
True AST
True STL
True BLK
True TOV
True PF
True PTS
True +/-
False isStarter

In [25]:
df

,game_id,teamName,playerName,MP,FG,FGA,3P,3PA,FT,FTA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,+/-,isStarter
146,7,Washington Bullets,Ben Wallace,19:15,0,3,0,0,0,0,...,6,10,0,3,0,1,1,0,+11,0
179,8,Los Angeles Lakers,Shaquille O'Neal,34:58,8,10,0,0,7,11,...,10,14,3,0,2,5,5,23,+27,1
545,23,Washington Bullets,Ben Wallace,13:30,1,1,0,0,0,0,...,2,2,0,0,0,0,4,2,+2,0
640,27,Los Angeles Lakers,Shaquille O'Neal,40:34,14,20,0,0,7,13,...,13,19,3,0,3,3,5,35,+10,1
819,35,Los Angeles Lakers,Shaquille O'Neal,41:31,12,23,0,0,2,5,...,10,13,1,2,5,2,5,26,+14,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
741457,30246,Los Angeles Lakers,LeBron James,39:09,14,25,3,8,2,5,...,7,9,9,1,1,0,2,33,+7,1
741469,30247,Los Angeles Lakers,LeBron James,39:13,9,16,1,5,6,9,...,9,10,8,0,2,8,2,25,-4,1
741496,30248,Los Angeles Lakers,LeBron James,38:38,8,16,2,5,10,12,...,10,12,8,1,0,6,2,28,-2,1
741535,30249,Los Angeles Lakers,LeBron James,41:51,15,21,6,9,4,6,...,10,13,7,3,0,4,1,40,+7,1
741547,30250,Los Angeles Lakers,LeBron James,41:13,13,20,1,5,1,4,...,11,14,10,1,0,1,3,28,+18,1

In [21]:
df.groupby('playerName')[['FT', 'FTA']].sum()

,FT,FTA
playerName,,
Ben Wallace,00020Did Not Play00Did Not Play00Did Not PlayD...,00240Did Not Play00Did Not Play00Did Not PlayD...
DeAndre Jordan,0Did Not Play000Did Not PlayDid Not PlayDid No...,0Did Not Play020Did Not PlayDid Not PlayDid No...
Giannis Antetokounmpo,110Did Not PlayDid Not Play0400Did Not PlayDid...,222Did Not PlayDid Not Play0400Did Not PlayDid...
LeBron James,1421610422263942250046167131074324221545113175...,3721740644483104337004818823128542642275613521...
Rudy Gobert,01200201Did Not Play100Did Not PlayDid Not Pla...,22220602Did Not Play220Did Not PlayDid Not Pla...
Shai Gilgeous-Alexander,1242311142342106404144032000040200200102010010...,1242421142642208505254042000250200200202010010...
Shaquille O'Neal,772231486224335254657277631154583Did Not Play5...,1113557481110581010111271271091041313961612913...
Stephen Curry,0003030000444022021210630402203002140330714044...,0004240001454022021220640402213002250330815044...